<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KLevi Ceramics</title>
    <link rel="stylesheet" type="text/css" href="./assets/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
    <div id="mySidebar" class="sidebar">
        <a href="#rolunk" class="link">Rólunk</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>
    <div id="main">
    <nav>
        <div class="menu_wrapper">
            <div class="logo_wrapper">
            <a href="/" class="titl">K</a>
            <a href="/" class="titl2">L</a>
            <a href="/" class="titl3">evi Ceramics</a>
            </div>
            <div class="openbutton_wrapper">
            <button class="openbutton" style="vertical-align: middle;" ><span>Menu </span></button>
            </div>  
        </div>
    </nav>

    <main id="content">
       
            <div class="gallery_wrapper">
             <div class="gallery">
                <img src="./assets/VAZAK/DSC_0029.JPG"/>
                <img src="./assets/VAZAK/DSC_0031.JPG"/>
                <img src="./assets/VAZAK/DSC_0037.JPG"/>
                <img src="./assets/VAZAK/DSC_0043.JPG"/>
                <img src="./assets/VAZAK/DSC_0048.JPG"/>
                <img src="./assets/VAZAK/DSC_0050.JPG"/>
                <img src="./assets/VAZAK/DSC_0059.JPG"/>
                <img src="./assets/VAZAK/DSC_0245.JPG"/>
                <img src="./assets/VAZAK/DSC_0029.JPG"/>
                <img src="./assets/VAZAK/DSC_0031.JPG"/>
                <img src="./assets/VAZAK/DSC_0037.JPG"/>
                <img src="./assets/VAZAK/DSC_0043.JPG"/>
                <img src="./assets/VAZAK/DSC_0048.JPG"/>
                <img src="./assets/VAZAK/DSC_0050.JPG"/>
                <img src="./assets/VAZAK/DSC_0059.JPG"/>
                <img src="./assets/VAZAK/DSC_0245.JPG"/>
                <img src="./assets/VAZAK/DSC_0029.JPG"/>
                <img src="./assets/VAZAK/DSC_0031.JPG"/>
                <img src="./assets/VAZAK/DSC_0037.JPG"/>
                <img src="./assets/VAZAK/DSC_0043.JPG"/>
                <img src="./assets/VAZAK/DSC_0048.JPG"/>
                <img src="./assets/VAZAK/DSC_0050.JPG"/>
                <img src="./assets/VAZAK/DSC_0059.JPG"/>
                <img src="./assets/VAZAK/DSC_0245.JPG"/>
                <img src="./assets/VAZAK/DSC_0245.JPG"/>
             </div>
             <div class="big-picture">
                 <img src="" id="current"/>
             </div>
            </div>
                <div class="rolunk">
                <h1 class="rolunk-title" id="rolunk">Rólunk</h1>
                <div class="rolunk-video">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fbea.kopacz.24%2Fvideos%2F1844983045663915%2F&show_text=false&width=560"   allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                </div>
                <p class="rolunk-text">
                    Culpa neque unde recusandae. Dolorem nihil aliquam illum qui molestiae adipisci. Ex magni qui autem rerum iure odio. Perspiciatis numquam accusantium et assumenda. Incidunt voluptatum officia deserunt. Consequatur qui occaecati quo. Corporis deserunt ipsa sequi perferendis accusantium voluptas. Molestiae dolor ipsa dolores animi fuga dolores et. Et provident quae doloremque.Culpa neque unde recusandae. Dolorem nihil aliquam illum qui molestiae adipisci. Ex magni qui autem rerum iure odio. Perspiciatis numquam accusantium et assumenda. Incidunt voluptatum officia deserunt. Consequatur qui occaecati quo. Corporis deserunt ipsa sequi perferendis accusantium voluptas. Molestiae dolor ipsa dolores animi fuga dolores et. Et provident quae doloremque.Culpa neque unde recusandae. Dolorem nihil aliquam illum qui molestiae adipisci. Ex magni qui autem rerum iure odio. Perspiciatis numquam accusantium et assumenda. Incidunt voluptatum officia deserunt. Consequatur qui occaecati quo. Corporis deserunt ipsa sequi perferendis accusantium voluptas. Molestiae dolor ipsa dolores animi fuga dolores et. Et provident quae doloremque.Culpa neque unde recusandae. Dolorem nihil aliquam illum qui molestiae adipisci. Ex magni qui autem rerum iure odio. Perspiciatis numquam accusantium et assumenda. Incidunt voluptatum officia deserunt. Consequatur qui occaecati quo. Corporis deserunt ipsa sequi perferendis accusantium voluptas. Molestiae dolor ipsa dolores animi fuga dolores et. Et provident quae doloremque.Culpa neque unde recusandae. Dolorem nihil aliquam illum qui molestiae adipisci. Ex magni qui autem rerum iure odio. Perspiciatis numquam accusantium et assumenda. Incidunt voluptatum officia deserunt. Consequatur qui occaecati quo. Corporis deserunt ipsa sequi perferendis accusantium voluptas. Molestiae dolor ipsa dolores animi fuga dolores et. Et provident quae doloremque.Culpa neque unde recusandae. Dolorem nihil aliquam illum qui molestiae adipisci. Ex magni qui autem rerum iure odio. Perspiciatis numquam accusantium et assumenda. Incidunt voluptatum officia deserunt. Consequatur qui occaecati quo. Corporis deserunt ipsa sequi perferendis accusantium voluptas. Molestiae dolor ipsa dolores animi fuga dolores et. Et provident quae doloremque.Culpa neque unde recusandae. Dolorem nihil aliquam illum qui molestiae adipisci. Ex magni qui autem rerum iure odio. Perspiciatis numquam accusantium et assumenda. Incidunt voluptatum officia deserunt. Consequatur qui occaecati quo. Corporis deserunt ipsa sequi perferendis accusantium voluptas. Molestiae dolor ipsa dolores animi fuga dolores et. Et provident quae doloremque.Culpa neque unde recusandae. Dolorem nihil aliquam illum qui molestiae adipisci. Ex magni qui autem rerum iure odio. Perspiciatis numquam accusantium et assumenda. Incidunt voluptatum officia deserunt. Consequatur qui occaecati quo. Corporis deserunt ipsa sequi perferendis accusantium voluptas. Molestiae dolor ipsa dolores animi fuga dolores et. Et provident quae doloremque.
                </p>
                </div>
                
    </main>

    <footer>

    </footer>
    </div>
    <script lang="javascript" type="text/javascript" src="./assets/script.js"></script>
</body>
</html>
